<div class='center'>
  <% provide(:title, "Messages") %>
  <p id="notice"><%= notice %></p>
  
  <h1>You can leave a message for us below.</h1>
  <p>Messages are limited to 140 characters.</p>
  <br/>
  <%= link_to 'New Message', new_message_path, :class => 'btn btn-lg btn-inverse' %>
  <br/>
  <div class='center'>
    <table align='center'>
      <thead>
        <tr>
          <th><h1>Our Current Messages</h1></th>
        </tr>
      </thead>
    
      <tbody>
        <% @messages.each do |message| %>
          <tr>
            <td><%= message.content %></td>
            <!--<td><%= message.rsvp_id %></td>-->
            <!--<td><%= link_to 'Show', message %></td>-->
            <!--<td><%= link_to 'Edit', edit_message_path(message) %></td>-->
            <!--<td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>