<% provide(:title, "RSVP") %>
<div class="modal fade" id="newRsvp">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class='modal-header modal-header-inverse'>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">We look forward to seeing you at our wedding.</h4>  
            </div>
            <div class="modal-body">
                <%= form_for(@rsvp) do |f| %>
                    <div class='form-box'>
                        <div class='form-group'>
                            <%= f.label :'First Name:' %>
                            <%= f.text_field :firstname, :class => 'form-control' %>
                        </div>
                        <div class='form-group'>
                            <%= f.label :'Last Name:' %>
                            <%= f.text_field :lastname, :class => 'form-control' %>
                        </div>
                        <div class='form-group'>
                            <%= f.label :'Number in Party:'%>
                            <%= f.text_field :party_size, :class => 'form-control' %>
                        </div>
                        <div class='form-group'>
                            <%= f.label :'e-mail address:' %>
                            <%= f.text_field :email, :class => 'form-control' %>
                        </div>
                        <div class='form-group'>
                            <%= f.label :'Mailing Address:' %>
                            <%= f.text_field :address, :class => 'form-control' %>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <%= f.submit :'RSVP', :class => 'btn btn-large btn-inverse float-left' %>
                        <button type="button" class="btn btn-large btn-inverse float-right" data-dismiss="modal">Cancel</button>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
<div class='center'>
    <p><%= @rsvp_welcome %></p>
    <button class='btn btn-inverse btn-lg' data-toggle="modal" data-target="#newRsvp">
        RSVP
    </button>
</div>