<header class='nav nav-bar-fixed-top navbar-inverse'>
    <div class='container'>
        <%= link_to "Scarbrough-Ward", "/", id: "logo"%>
        <nav>
            <ul class='nav navbar-nav pull-right'>
                <li><%= link_to "Home", "/" %></li>
                <li><%= link_to "RSVP", "/rsvp" %></li>
                <li><%= link_to "Message Us", "/messages" %></li>
                <li><%= link_to "Venue", "/venue" %></li>
                <li><%= link_to "Gift Registry", "/registry" %></li>
                <li><%= link_to "Accomodations", "/accomodations" %></li>
            </ul>
        </nav>
    </div>
</header>
<div class='center jumbotron'>
    <h1>Kylie & Daniel - June 3<sup>rd</sup>, 2017</h1>
</div>