<nav class='navbar navbar-inverse navbar-fixed-top'>
    <div class='container'>
        <div class=navbar-header>
            <%= link_to "Scarbrough-Ward", "/", class: "navbar-brand"%>
            <button class='navbar-toggle' data-toggle='collapse' data-target='.navHeaderCollapse'>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <div class='collapse navbar-collapse navHeaderCollapse'>
                <ul class='nav navbar-nav'>
                    <li><%= link_to "Home", "/" %></li>
                    <li><%= link_to "RSVP", "/rsvp" %></li>
                    <li><%= link_to "Message Us", "/messages" %></li>
                    <li><%= link_to "Venue", "/venue" %></li>
                    <li><%= link_to "Gift Registry", "/registry" %></li>
                    <li><%= link_to "Accomodations", "/accomodations" %></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class='center jumbotron'>
    <h1>Kylie & Daniel - June 3<sup>rd</sup>, 2017</h1>
</div>